@keyframes example {
   from {
      top: 500px;
      opacity: .1;

   }

   to {
      top: 350px;
   }
}

.home {
   position: relative;
   width: 100vw;

}

.sidebar {
   position: absolute;
   z-index: 3;
}

.background-image-slider {
   z-index: 1;
   position: absolute;
}

.option {
   position: absolute;
   z-index: 2;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;

   opacity: 0;
   top: 115vh;
   transition: opacity 0.5s, transform 0.5s;
}
.option.visible {
   opacity: 1;
   top: 105vh;
}

.navbar {
   position: absolute;
   transform: translate(-50%, -50%);
   left: 50%;
   top: 8vh;
   z-index: 2;

}

.search {
   position: absolute;
   z-index: 2;
   left: 50%;
   top: 50vh;
   transform: translate(-50%, -50%);
   color: white;
   animation-name: example;
   animation-duration: 0.9s;

}

.search h1 {
   text-align: center;
   font-size: 38px;
   color: white;

} 

.searchBlock {
   display: flex;
   justify-content: center;
   align-items: center;

}

.searchText {
   width: 500px;
   height: 55px;
   border-style: none;
   border-radius: 30px;
   margin-right: 10px;
   font-size: 16px;
   padding-left: 30px;
}

.searchText:active,
:hover,
:focus {
   outline: 0;
   outline-offset: 0;
}

.searchText::placeholder {
   font-size: 16px;
}

.searchButton {
   width: 120px;
   height: 55px;
   color: white;
   font-size: 16px;
   background: linear-gradient(to right, rgb(108, 2, 153), rgb(255, 0, 123));
   border-style: none;
   border-radius: 30px;
   display: inline;
}

.searchButton:hover {
   transform: translateY(-2px);
}

.search p {
   text-align: center;
   width: 650px;
   margin-top: 50px;
}

.search a {
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: underline;
   padding-top: 40px;
}

.search a:hover {
   text-decoration: none;
}


.homePopProp {
   position: absolute;
   left: 50%;
   transform: translate(-50%, -50%);
   top: 1150px;
}
.homeDreamHome{
   position: absolute;
   left: 50%;
   transform: translate(-50%, -50%);
   top: 2100px;
} 
.homeAgents {
   position: absolute;
   top: 2600px;
}
.homeFooter {
   position: absolute;
   top: 3300px;
}

@media (max-width: 991px) {
   .option{
      top: 115vh;
   }
   .homePopProp { 
      top: 1300px;
   }
   .homeDreamHome{
      top: 2750px;
   }
   .homeAgents{
      top: 3600px

   }
   .homeFooter {
      top: 5150px;
   
   }
   
}



@media (max-width: 767px) {
   .search h1 {
      width: 490px;
   }

   .searchText {
      width: 340px;
   }

   .search p {
      width: 470px;
   }

}

@media (max-width: 600px) {
   .navbar {
      width: 90vw;
   }

   .search h1, .search p{
      width: 95vw;
   }

   .searchBlock{
      flex-direction: column;
      text-align: center;
      width: 100vw;
   }
   .searchText{
      margin-bottom: 10px;
   }
   

}
@media (max-width:415px) {
   .homePopProp { 
      top: 1400px;
   }
   .homeDreamHome{
      top: 2850px;
   }
   .homeFooter {
      top: 3650px;
   
   }
}

@media (max-width: 376px) {
   .option.visible {
      top: 110vh;
  }
   .homePopProp { 
      top: 1200px;
   }
   .homeDreamHome{
      top: 2650px;
   }
   .homeFooter {
      top: 3450px;
   
   }
}



